body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app{
  width:100%;
  height:100vh;
  position:relative;
  background-color: rgba(0,0,0,0.4);
  color:#FFF;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:1em; 
}

.app:before{
  content:'';
  background: url('./assets/meteoo.webp') no-repeat center center/cover;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-1;
}

.container{
  padding:.5em;
  margin:2rem 0;
  width:10rem;
  height:15rem;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  border:black;
  border-radius:25px;
  align-items:center;
  text-align:center;
  background-color:rgba(0,0,0,0.4);
}
.containers{
  padding:.5em;
  display:flex;
  flex-direction:column;
  width:10rem;
  align-items:center;
  text-align:center;
}
.forecasts{
  margin: 2rem 0;
  display:flex;
  flex-wrap: wrap;
  background-color:rgba(0,0,0,0.4);
  border-radius:25px;

}

input{
  margin:.5rem;
  height:2rem;
  text-align:center;
  color:#949494;
  border:none;
  border-radius:25px;
}
.search__btn{
  width:5rem;
  background-color:#00819d;
  color:white;
  
}
/* @media screen and (max-width:960px){
  p{
    font-size:.7rem;
  }
  h2{
    font-size:1rem;
  }
} */